* {
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    width: 100%;
    background-color: rgb(54, 53, 53);

}
.bkg-dark{
    background-color: rgb(41, 41, 41);
}
.bkg-light{
    background-color: white;
}